.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;

  &__input {
    padding: 2rem 1rem 4rem;
    border-radius: 16px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
}
