.page {
  padding: 3rem 0;
  margin: 0 auto;

  .details {
    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      padding: 2rem;
    }
  }

  .reviews {
    display: flex;
    justify-content: flex-start;
    padding: 0 10rem;

    &__title {
      margin-bottom: 2rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-width: 500px;
      padding: 0;
    }

    &__list:last-child {
      align-items: flex-end;
    }

    &__item {
      list-style: none;
    }
  }
}

@media (max-width: 900px) {
  .page {
    padding: 1rem;
    .reviews {
      padding: 0;
      justify-content: center;
      width: 100%;

      &__list {
        width: 100%;
        min-width: 300px;
      }
    }
  }
}
