.page {
  padding: 3rem 0;
  margin: 0 auto;

  .details {
    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      padding: 2rem;
    }
  }

  .reviews {
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    padding: 0 10rem;

    &__title {
      margin-bottom: 2rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-width: 300px;
    }

    &__item {
      list-style: none;
    }
  }
}
