.search {
  display: flex;
  position: relative;
  align-items: center;
  min-width: 1300px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  &:focus-within {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 2px;
  }

  &__icon {
    max-width: 30px;
  }

  &__input {
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &__dropdown {
    position: absolute;
    width: 97%;
    top: 100%;
    left: 0;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 0;

    &:hover {
      background-color: rgb(223, 222, 222);
      cursor: pointer;
    }
  }

  &__title {
    font-weight: 600;
  }
}

@media (max-width: 950px) {
  .search {
    min-width: 0;
    padding: 5px;
    max-width: 100px;

    &__dropdown {
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 88%;
      margin: 0 auto;
      left: 5px;
      top: 90px;
    }
  }
}

@media (max-width: 1500px) and (min-width: 960px) {
  .search {
    min-width: 400px;
    padding: 5px;
    max-width: 1000px;

    &__dropdown {
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 88%;
      margin: 0 auto;
      left: 5px;
      top: 90px;
    }
  }
}
