.search {
  display: flex;
  align-items: center;
  min-width: 1000px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  &:focus-within {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 2px;
  }

  &__icon {
    max-width: 30px;
  }

  &__input {
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}
