.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #ffe6cc;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

  &-title {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0;
    gap: 1rem;

    &-item {
      list-style: none;
    }
  }

  &-link {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.08) rotate(0deg) translate(0px, 0px) skewX(0deg);
      opacity: 1;
      filter: brightness(1.1);
      color: #667eea;
    }
  }
}

.logo-link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
