.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #ffe6cc;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

  &__title {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }

  &__item {
    list-style: none;
  }
  &__link {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.08) rotate(0deg) translate(0px, 0px) skewX(0deg);
      opacity: 1;
      filter: brightness(1.1);
      color: #667eea;
    }
  }

  &__logo {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media (max-width: 950px) {
  .header {
    padding: 1rem;

    &__title {
      font-size: 1.2rem;
      max-width: 100px;
    }
    &__list {
      display: none;
    }

    &__button-mob {
      transition: 0.3s;
      background-color: transparent;
      border: none;
      width: 100px;
      &:active {
        transform: scale(0.9);
      }
    }

    &__menu-mob {
      user-select: none;
    }
  }
}
