.card {
  width: 300px;
  height: 420px;
  min-width: 200px;
  min-height: 300px;

  &__title {
    display: flex;
    align-items: center;
    padding: 1rem 0;

    h4 {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 500;
      font-size: 0.8rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__action {
    display: flex;
  }

  &__image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  &__subtitle {
    margin: 0;
    padding: 0;
  }
}
