.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
