.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  &__title {
    text-transform: uppercase;
    font-size: x-large;
    margin-bottom: 2rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 4rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 950px) {
  .catalog {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }
}
