.pagination {
  &__container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__number {
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;

    &--active {
      color: var(--error-color);
      font-weight: 600;
      font-size: x-large;
    }
  }
}
