<footer>
  <div>
    <img src="https://placehold.co/50x50" alt="logo" />
    <h4>Company.Name</h4>
  </div>
  <ul>
    <li><a href="#">Features</a></li>
    <li><a href="#">Private Policy</a></li>
    <li><a href="#">Support</a></li>
  </ul>
  <div>
    <h4>Social</h4>
    <ul>
      <li>
        <img src="https://placehold.co/50x50" alt="Social icon" />
      </li>
      <li>
        <img src="https://placehold.co/50x50" alt="Social icon" />
      </li>
      <li>
        <img src="https://placehold.co/50x50" alt="Social icon" />
      </li>
    </ul>
  </div>
</footer>
