.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  padding: 1rem 2.5rem;

  &__icon {
    max-width: 45px;
  }

  &__logo {
    display: flex;
    align-items: flex-end;
    gap: 10px;

    h4 {
      margin: 0;
      padding: 0;
    }

    a:hover {
      color: black;
    }
  }

  &__nav {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
  }
}

@media (max-width: 950px) {
  .footer {
    gap: 10px;
    font-size: 1rem;
    padding: 1rem;
    align-items: flex-start;

    &__logo {
      gap: 5px;
      align-items: center;

      h4 {
        font-size: 0.7rem;
      }
    }

    &__icon {
      max-width: 20px;
    }

    &__link {
      font-size: 0.5rem;
    }

    &__nav {
      padding: 0;
    }
  }
}
