<footer class="footer">
  <div class="footer__logo">
    <img src="assets/icons/company-logo.png" alt="logo" width="25px" height="25px" />
    <a href="">
      <h4>Company.Name</h4>
    </a>
  </div>
  <nav>
    <ul class="footer__nav">
      <li><a href="#" class="footer__link">Features</a></li>
      <li><a href="#" class="footer__link">Private Policy</a></li>
      <li><a href="#" class="footer__link">Support</a></li>
    </ul>
  </nav>
  <div>
    <ul class="footer__nav">
      <li>
        <a href="#">
          <img src="assets/icons/instagram-logo.png" alt="Social icon" class="footer__icon" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/icons/x-logo.png" alt="Social icon" class="footer__icon" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/icons/telegram-logo.png" alt="Social icon" class="footer__icon" />
        </a>
      </li>
    </ul>
  </div>
</footer>
