.page__layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: calc(100vh - var(--header-height, 64px) - var(--footer-height, 56px));
}

.page__action {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
}

@media (max-width: 950px) {
  .page__layout {
    display: flex;
    justify-content: center;
  }

  .page__action {
    flex-direction: column-reverse;
  }
}
