@let categories = (categories$ | async) || [];

<div class="page__layout">
  <app-sidebar
    [categories]="categories"
    (addCategory)="openCategoryModal()"
    (categorySelect)="onCategorySelect($event)"
  ></app-sidebar>

  <main class="page__content">
    <app-art-grid [arts]="arts" [categoryName]="categoryName"></app-art-grid>
    <div class="page__action">
      <app-button size="large" [fullWidth]="true" (click)="openArtModal()">
        Add new art
      </app-button>
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
  </main>
</div>

@if (isModalOpen('addArt')) {
<app-dialog title="Add new art" (close)="closeArtModal()">
  <app-add-art-form (cancel)="closeArtModal()" [categoriesArray]="categories"></app-add-art-form>
</app-dialog>

} @if (isModalOpen('categoryModal')) {
<app-dialog title="Add new category" (close)="closeCategoryModal()">
  <app-add-category-form
    (cancel)="closeCategoryModal()"
    (created)="onCategoryCreated()"
  ></app-add-category-form>
</app-dialog>
}
