<aside>
  <nav>
    <div>
      <h3>Art categories</h3>

      @for(category of categories; track category.id) {
      <app-button variant="primary" type="button" [fullWidth]="true">{{
        category.name
      }}</app-button>
      }
    </div>
    <div>
      <h3>Action</h3>
      <app-button type="button" variant="primary" [fullWidth]="true" (click)="onAddCategoryClick()"
        >Add new category</app-button
      >
      <app-button type="button" variant="primary" [fullWidth]="true">Lasted update </app-button>
    </div>
  </nav>
</aside>
