:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar {
  background: #dae8fc;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0 12px 12px 0;
  padding: 2rem;
  height: 100%;
  overflow-y: auto;
  position: relative;

  &__container {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}

.sidebar__nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
}

.sidebar__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__title,
.sidebarMob__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.sidebarMob {
  background: #dae8fc;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
  overflow-y: auto;

  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  max-width: 80vw;
  border-radius: 12px 0 0 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  z-index: 1000;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  &__button {
    background-color: transparent;
    border: none;
  }
}

.sidebarMob.sidebarMob--open {
  transform: translateX(0);
}

@media (max-width: 950px) {
  .sidebar {
    display: none;
  }
}
