<aside>
  <nav>
    <div>
      <h3>Art categories</h3>
      <app-button variant="primary" type="button" [fullWidth]="true">TRADITIONAL ART</app-button>
      <app-button variant="primary" type="button" [fullWidth]="true">DIGITAL ART</app-button>
      <app-button variant="primary" type="button" [fullWidth]="true">SCULPTURE</app-button>
      <app-button variant="primary" type="button" [fullWidth]="true">PHOTOGRAPHY</app-button>
      <app-button variant="primary" type="button" [fullWidth]="true">other</app-button>
    </div>
    <div>
      <h3>Action</h3>
      <app-button type="button" variant="primary">Add new category</app-button>
      <app-button type="button" variant="primary">Lasted update </app-button>
    </div>
  </nav>
</aside>
