:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

aside {
  background: #dae8fc;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0 12px 12px 0;
  padding: 2rem;
  height: 100%;
  overflow-y: auto;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
}

h3 {
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

nav > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav div div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
