:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

aside {
  background: #dae8fc;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0 12px 12px 0;
  padding: 16px;
  height: 100%;
  overflow-y: auto;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}

nav > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

nav div div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
