.paper {
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 1rem;
  display: flex;
  width: fit-content;
  border-radius: 16px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;

  &:hover {
    transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    opacity: 1;
    filter: brightness(1);
    background-color: var(--secondary-color);
    color: #ffffff;
  }
}
