.rating {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
  }

  &__star {
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
