@import '../node_modules/normalize.css/normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(32, 32, 32, 0.8);
  margin: 0;
}

p {
  color: rgba(32, 32, 32);
  margin: 0;
}

.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
  &:hover {
    opacity: 1;
    filter: brightness(1.1);
    color: #667eea;
  }
}

:root {
  --primary-color: rgba(0, 0, 0, 0.8);
  --secondary-color: #ffe6cc;
  --outline-color: #dae8fc;
  --success-color: #28a745;
  --error-color: #ff8d8d;
}
