@import '../node_modules/normalize.css/normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
  &:hover {
    opacity: 1;
    filter: brightness(1.1);
    color: #667eea;
  }
}
